.advert {
  box-sizing: content-box;
  width: 900px;
  margin: 0 auto 18px ;
  padding: 0px 36px 0 40px;

  &__container {
    width: 728px;
    height: 90px;
    background-image: url(../../../assets/images/adverts/advert-image.gif);
    background-size: 100%;
    cursor: pointer;
  }
}