@import "global.less";

.search {
  box-sizing: content-box;
  width: 900px;
  height: 110px;
  margin: 0 auto;
  padding: 0 36px 0 0;

  &__tabs-list {
    display: flex;
    margin-bottom: 10px;
    margin-top: 9px;
    font-size: 1.16em;
  }

  &__tab {
    margin-right: 20px;
    text-decoration: none;
    color: #0054b9;;
  }

  &__container {
    position: relative;
    display: flex;
    width: 100%;
  }

  &__logo {
    position: absolute;
    margin-top: -35px;
    margin-left: -140px;
    background-image: url(../../../assets/images/logo.svg);
    width: 140px;
    height: 100px;
    cursor: pointer;
  }

  &__form {
    display: flex;
    align-items: center;
    border-collapse: collapse;
    height: 34px;
    border: 2px solid @yellow;
    border-right-width: 0;
  }

  &__input-form {
    width: 680px;
    height: 34px;
    border: 0 solid transparent;
    box-sizing: border-box;
    border-right-width: 30px;
    border-left-width: 13px;
  }

  &__micro-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding-right: 4px;
    opacity: .17;
    transition: opacity 0.2ms ease-in;
    &:hover {
      opacity: .34;
    }
  }

  &__keyboard-icon {
    display: inline-block;
    width: 27px;
    height: 12px;
    padding-left: 2px;
    padding-right: 11px;
    opacity: .17;
    transition: opacity 0.2ms ease-in;
    &:hover {
      opacity: .34;
    }
  }

  &__button {
    width: 88px;
    display: flex;
    cursor: pointer;
  }

  &__text-search {
    width: 76px;
    height: 34px;

    background-color: @yellow;
    border: 2px solid @yellow;

    line-height: 34px;
    vertical-align: middle;
    text-align: center;

    font-weight: 500;
  }

  &__triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 12px;
    border-color: transparent transparent transparent @yellow;
  }

  &__bottom {
    display: flex;
    align-items: baseline;
    margin-top: 8px;
  }

  &__suggest-right {
    color: @grey;
  }
}