/*
***yandex colors***
*/
/*
***mail colors***
*/
.link {
  transition: color 0.2s ease-out;
  cursor: pointer;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: black;
  font-weight: 500;
}
.link._size-s {
  font-weight: 400;
}
.link._size-m {
  font-weight: 500;
}
.link._size-l {
  font-weight: 600;
}
.link._size-xl {
  font-weight: 700;
}
.link._default {
  color: #6da2e1;
}
.link._primary-pale {
  color: #6da2e1;
}
.link._primary {
  color: #0054b9;
}
.link._secondary {
  color: #999;
}
.link._ordinary {
  color: #1378bf;
}
.link._red-hover:hover {
  color: #cc0000;
  fill: #cc0000;
}
.link._orange-hover:hover {
  color: #ffa930;
  fill: #ffa930;
}
.link._underline-hover {
  text-decoration: underline;
}
.header {
  display: flex;
  margin: 10px 200px 6px auto;
  padding: 0 18px 0 30px;
  line-height: 42px;
  align-items: center;
}
.header__location {
  display: inline-flex;
  margin-right: 10px;
  flex: 0.05 1 auto;
  line-height: 42px;
  align-items: center;
  vertical-align: middle;
}
.header__location-link {
  text-decoration: none;
}
.header__location-link:hover * {
  fill: #cc0000;
  color: #cc0000;
}
.header__geo-arrow {
  display: inline-block;
  width: 19px;
  height: 19px;
  vertical-align: middle;
  fill: #999;
}
.header__city {
  vertical-align: middle;
  color: #999;
}
.header__empty {
  justify-content: center;
  flex: 1;
}
.header__settings {
  flex: 0 0 auto;
  text-decoration: none;
  color: black;
}
.mail-box {
  max-height: 600px;
  padding: 2px 2px 0 18px;
}
.mail-box__inner-box {
  margin-right: 10px;
  margin-bottom: 8px;
  border-radius: 3px;
  padding: 12px 14px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}
.mail-box__top-container {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
  margin-bottom: 14px;
}
.mail-box__mail {
  text-decoration: none;
  color: black;
}
.mail-box__mail:hover {
  color: #cc0000;
}
.mail-box__get-mail {
  text-decoration: none;
  color: #999;
}
.mail-box__get-mail:hover {
  color: #cc0000;
}
.mail-box__enter-mail {
  display: block;
  margin-top: 18px;
  padding: 7px 0 8px;
  border-radius: 3px;
  background: #e8e8e8;
  text-decoration: none;
  color: black;
  text-align: center;
  vertical-align: center;
  transition: background 0.15s;
}
.mail-box__enter-mail:hover {
  background: #dedede;
}
.mail-box__get-plus {
  display: inline-block;
  width: 100%;
  margin-top: 14px;
  margin-bottom: 4px;
  text-align: center;
  text-decoration: none;
  color: #0054b9;
  transition: color 0.15s ease-out;
}
.mail-box__get-plus:hover {
  color: #cc0000;
}
.aside-panel {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 212px;
  height: 280px;
  background-color: transparent;
}
.dzen-box {
  max-height: 600px;
  padding: 2px 2px 0 18px;
}
.dzen-box__wrapper {
  margin-right: 10px;
  margin-bottom: 8px;
}
.dzen-box__wrapper:hover .dzen-box__dzen-settings-icon {
  transition: opacity 0.3s ease 0.5s;
  opacity: 1;
}
.dzen-box__wrapper:hover .dzen-box__inner-box {
  transform: translateX(-15px);
}
.dzen-box__inner-box {
  box-sizing: border-box;
  position: relative;
  width: 180px;
  padding: 12px 14px;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in;
}
.dzen-box__dzen-source-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  background: no-repeat 50% 50% url(../../../assets/images/icons/dzen-source-icon.svg);
  background-size: 18px 18px;
  width: 24px;
  height: 24px;
}
.dzen-box__source {
  margin-right: 22px;
  text-decoration: none;
  color: black;
  font-size: 11px;
  font-weight: 700;
  line-height: 14px;
  white-space: nowrap;
  letter-spacing: 1px;
  text-overflow: ellipsis;
  opacity: 0.45;
}
.dzen-box__text {
  margin-top: 8px;
  max-height: 4.8em;
  line-height: 1.2em;
}
.dzen-box__dzen-settings-icon {
  position: absolute;
  top: 140px;
  right: 2px;
  width: 24px;
  height: 24px;
  opacity: 0;
  fill: #999;
  cursor: pointer;
  transition: opacity 0.1s ease, color 0.2s ease;
}
.dzen-box__dzen-settings-icon:hover {
  fill: black;
}
.top-block {
  box-sizing: content-box;
  display: flex;
  width: 900px;
  margin: 0 auto 16px;
  padding: 0 36px 0 0;
  min-height: 215px;
  align-items: center;
}
.top-block__news {
  padding: 0 0px 4px 20px;
  margin-top: -6px;
  flex: 0 0 66.6%;
  display: block;
}
.top-block__above-news {
  margin-right: 18px;
}
.top-block__media {
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 10px;
  margin-right: 9px;
  font-size: 123%;
}
.top-block__city {
  display: inline-block;
  margin-right: 10px;
  margin-top: 4px;
  margin-bottom: 10px;
  color: #6da2e1;
  font-size: 123%;
}
.top-block__date {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 84.6%;
  color: #999;
}
.top-block__news-list {
  padding: 0;
  margin: 0;
}
.top-block__news-item {
  position: relative;
  margin-right: 2px;
  margin-bottom: 11px;
  list-style-type: none;
}
.top-block__news-item::before {
  position: absolute;
  left: -16px;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  cursor: pointer;
  margin: 0px 6px 0px -5px;
  content: "";
  background: url(../../../assets/images/icons/news-item-icon.svg) no-repeat 50% 50%;
}
.top-block__securities {
  position: relative;
}
.top-block__security {
  display: inline-block;
  margin-top: 4px;
  margin-right: 15px;
}
.top-block__name {
  letter-spacing: 1px;
  transition: color 0.2s ease-out;
  text-decoration: none;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
}
.top-block__name:hover {
  color: #cc0000;
}
.top-block__difference {
  margin: -2px -4px -2px 7px;
  padding: 3px 0;
  text-align: right;
  white-space: nowrap;
}
.top-block_negative {
  color: #d04d4d;
}
.top-block_positive {
  color: #069922;
}
.top-block__more-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: -10px;
  vertical-align: bottom;
  opacity: 0.17;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
}
.top-block__more-icon:hover {
  opacity: 0.34;
}
.top-block__advert {
  flex: 0 1 33.3%;
  display: block;
  box-sizing: border-box;
  padding-right: 6px;
  padding-top: 4px;
}
.top-block__title {
  margin-top: 16px;
  margin-bottom: 0;
  text-decoration: none;
  color: black;
  font-size: 123%;
  font-weight: 500;
}
.top-block__description {
  margin-top: 8px;
}
.search {
  box-sizing: content-box;
  width: 900px;
  height: 106px;
  margin: 0 auto 0;
  padding: 0 36px 0 40px;
}
.search__tabs-list {
  display: flex;
  margin-bottom: 10px;
  margin-top: 9px;
  font-size: 1.16em;
}
.search__tab {
  margin-right: 20px;
}
.search__container {
  position: relative;
  display: flex;
  width: 100%;
}
.search__logo {
  position: absolute;
  margin-top: -35px;
  margin-left: -140px;
  background-image: url(../../../assets/images/logos/logo.svg);
  width: 140px;
  height: 100px;
  cursor: pointer;
}
.search__form {
  display: flex;
  align-items: center;
  border-collapse: collapse;
  height: 32px;
  border: 2px solid #ffdb4d;
  border-right-width: 0;
}
.search__input-form {
  width: 656px;
  height: 32px;
  border: 0 solid transparent;
  box-sizing: border-box;
  border-right-width: 30px;
  border-left-width: 13px;
}
.search__micro-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding-right: 6px;
  cursor: pointer;
  opacity: 0.17;
  transition: opacity 0.2ms ease-in;
}
.search__micro-icon:hover {
  opacity: 0.34;
}
.search__keyboard-icon {
  display: inline-block;
  width: 27px;
  height: 12px;
  padding-left: 2px;
  padding-right: 11px;
  cursor: pointer;
  opacity: 0.17;
  transition: opacity 0.2ms ease-in;
}
.search__keyboard-icon:hover {
  opacity: 0.34;
}
.search__button {
  width: 88px;
  display: flex;
  cursor: pointer;
}
.search__text-search {
  width: 88px;
  height: 32px;
  background-color: #ffdb4d;
  border: 2px solid #ffdb4d;
  line-height: 32px;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
}
.search__triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px 0 18px 8px;
  border-color: transparent transparent transparent #ffdb4d;
}
.search__bottom {
  display: flex;
  align-items: baseline;
  margin-top: 8px;
}
.advert {
  box-sizing: content-box;
  width: 900px;
  margin: 0 auto 18px ;
  padding: 0px 36px 0 40px;
}
.advert__container {
  width: 728px;
  height: 90px;
  background-image: url(../../../assets/images/adverts/advert-image.gif);
  background-size: 100%;
  cursor: pointer;
}
.blocks {
  box-sizing: content-box;
  width: 900px;
  margin: 0 auto 19px;
  padding: 0 36px 0 0;
  display: flex;
  justify-content: space-between;
}
.blocks__column {
  flex: 0 1 auto;
  box-sizing: border-box;
  width: 300px;
  max-width: 300px;
  padding-right: 6px;
  justify-content: flex-start;
}
.blocks__item {
  position: relative;
  padding: 8px 4px 4px 20px;
  margin-top: 6px;
}
.weather-widget {
  padding-bottom: 10px;
  line-height: 1.25;
}
.weather-widget__title {
  display: inline-block;
  margin-right: 8px;
  margin-top: 4px;
  margin-bottom: 10px;
  font-size: 123%;
  font-weight: 600;
}
.weather-widget__content {
  display: flex;
  align-items: center;
}
.weather-widget__left {
  margin-right: 12px;
  display: flex;
  align-items: center;
}
.weather-widget__weather-icon {
  width: 48px;
  height: 48px;
  margin: -24px 8px -24px -4px;
  background-image: url(../../../../assets/images/icons/weather-icon.svg);
  background-size: 100% 100%;
  cursor: pointer;
}
.weather-widget__temp {
  font-size: 28px;
  cursor: pointer;
}
.weather-widget__temp:hover {
  color: #cc0000;
}
.weather-widget__right {
  text-decoration: none;
  color: black;
}
.weather-widget__settings-icon {
  position: absolute;
  top: 8px;
  right: 0;
  width: 25px;
  height: 25px;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.weather-widget__settings-icon:hover {
  opacity: 0.3;
}
.services-widget {
  padding-bottom: 10px;
  line-height: 1.25;
}
.services-widget__title {
  display: inline-block;
  margin-right: 8px;
  margin-top: 4px;
  margin-bottom: 10px;
  font-size: 123%;
  font-weight: 600;
}
.services-widget__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.services-widget__item {
  margin-bottom: 10px;
  line-height: 1.25;
}
.services-widget__item-elem {
  margin-right: 8px;
}
.services-widget__settings-icon {
  position: absolute;
  top: 8px;
  right: 0;
  width: 25px;
  height: 25px;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.services-widget__settings-icon:hover {
  opacity: 0.3;
}
.traffic-widget {
  padding-bottom: 10px;
  line-height: 1.25;
}
.traffic-widget__title {
  display: inline-block;
  margin-right: 8px;
  margin-top: 4px;
  margin-bottom: 10px;
  font-size: 123%;
  font-weight: 600;
}
.traffic-widget__content {
  display: flex;
  align-items: center;
}
.traffic-widget__left {
  display: flex;
  align-items: center;
  padding-right: 16px;
}
.traffic-widget__icon {
  width: 33px;
  height: 30px;
  margin-right: 8px;
  background-image: url("../../../../assets/images/icons/traffic-icon.svg");
  cursor: pointer;
}
.traffic-widget__rate {
  font-size: 28px;
  cursor: pointer;
}
.traffic-widget__rate:hover {
  color: #cc0000;
}
.traffic-widget__right {
  display: flex;
  align-items: center;
}
.traffic-widget__forecast-item {
  display: inline-block;
  position: relative;
  vertical-align: top;
  text-align: center;
  margin-top: -3px;
  padding: 0 3px;
}
.traffic-widget__forecast-item-time {
  font-size: 70%;
  color: #999;
}
.traffic-widget__forecast-item-value {
  border: 2px solid #66ab3c;
  border-radius: 50%;
  height: 17px;
  width: 17px;
  text-align: center;
  font: 12px/18px Arial, Helvetica, sans-serif;
}
.traffic-widget__settings-icon {
  position: absolute;
  top: 8px;
  right: 0;
  width: 25px;
  height: 25px;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.traffic-widget__settings-icon:hover {
  opacity: 0.3;
}
.tv-widget {
  padding-bottom: 10px;
  line-height: 1.25;
}
.tv-widget__title {
  display: inline-block;
  margin-right: 8px;
  margin-top: 4px;
  margin-bottom: 12px;
  font-size: 123%;
  font-weight: 600;
  line-height: 1.25;
}
.tv-widget__tv-widget-settings-icon {
  position: absolute;
  top: 8px;
  right: 0;
  width: 25px;
  height: 25px;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.tv-widget__tv-widget-settings-icon:hover {
  opacity: 0.3;
}
.tv-widget__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.tv-widget__item {
  margin-bottom: 10px;
  line-height: 1.25;
}
.tv-widget__item-elem {
  margin-right: 8px;
}
.tv-widget__settings-icon {
  position: absolute;
  top: 8px;
  right: 0;
  width: 25px;
  height: 25px;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.tv-widget__settings-icon:hover {
  opacity: 0.3;
}
.maps-widget {
  line-height: 1.25;
}
.maps-widget__title {
  display: inline-block;
  margin-right: 8px;
  margin-top: 4px;
  margin-bottom: 10px;
  font-size: 123%;
  font-weight: 600;
}
.maps-widget__list {
  padding: 0;
  margin: 0;
  display: inline-block;
  list-style-type: none;
}
.maps-widget__item {
  display: inline-block;
  margin-right: 9px;
  margin-bottom: 10px;
}
.maps-widget__item-first {
  margin-right: 8px;
}
.maps-widget__item-second {
  color: #999;
}
.maps-widget__settings-icon {
  position: absolute;
  top: 8px;
  right: 0;
  width: 25px;
  height: 25px;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.maps-widget__settings-icon:hover {
  opacity: 0.3;
}
.billboard-widget {
  padding-bottom: 10px;
  line-height: 1.25;
}
.billboard-widget__title {
  display: inline-block;
  margin-right: 8px;
  margin-top: 4px;
  margin-bottom: 10px;
  font-size: 123%;
  font-weight: 600;
}
.billboard-widget__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.billboard-widget__item {
  margin-bottom: 10px;
}
.billboard-widget__item-elem {
  margin-right: 8px;
}
.billboard-widget__item-first {
  margin-right: 8px;
}
.billboard-widget__item-second {
  color: #999;
}
.billboard-widget__settings-icon {
  position: absolute;
  top: 8px;
  right: 0;
  width: 25px;
  height: 25px;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.billboard-widget__settings-icon:hover {
  opacity: 0.3;
}
/*# sourceMappingURL=main.css.map */