.header {
  display: flex;
  padding: 0 18px;
  margin: 10px auto 6px;
  max-width: 1500px;
  line-height: 42px;
  justify-content: center;
  align-items: center;
}
.header__location {
  line-height: 42px;
  text-decoration: none;
  color: #999;
}
.header__geo-arrow {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 2px;
  vertical-align: middle;
  fill: #999;
}
.header__geo-arrow:hover + .header__city {
  color: #cc0000;
}
.header__city {
  display: inline-block;
  vertical-align: middle;
}
.header__city:hover ~ .header__geo-arrow {
  fill: #cc0000;
  color: #cc0000;
}
.header__empty {
  justify-content: center;
  flex: 1;
}
.header__settings {
  margin-right: 200px;
  flex: 0 0 auto;
  text-decoration: none;
  color: black;
}
.layout {
  font-family: 'YS Text', Arial, Helvetica, sans-serif;
  font-feature-settings: 'liga', 'kern';
  font-size: 81.25%;
  line-height: 1.25;
}
.mail-box {
  max-height: 600px;
  padding: 2px 2px 0 18px;
}
.mail-box__inner-box {
  margin-right: 10px;
  margin-bottom: 8px;
  border-radius: 3px;
  padding: 12px 14px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}
.mail-box__top-container {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
  margin-bottom: 14px;
}
.mail-box__mail {
  text-decoration: none;
  color: black;
}
.mail-box__get-mail {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.45);
}
.mail-box__enter-mail {
  box-sizing: border-box;
  display: block;
  margin-top: 18px;
  padding: 7px 0 8px;
  border-radius: 3px;
  background: #e8e8e8;
  text-decoration: none;
  color: black;
  text-align: center;
  vertical-align: center;
  transition: background 0.15s;
}
.mail-box__enter-mail:hover {
  background: #dedede;
}
.mail-box__get-plus {
  display: inline-block;
  width: 100%;
  margin-top: 14px;
  margin-bottom: 4px;
  text-align: center;
  text-decoration: none;
  color: #0080ff;
  transition: color 0.15s ease-out;
}
.side-desk-wrapper {
  position: absolute;
  top: 10px;
  right: 0px;
  background-color: transparent;
  order: 2;
  z-index: 11;
  width: 212px;
  height: 280px;
}
.dzen-box {
  overflow: hidden;
  max-height: 600px;
  padding: 2px 2px 0 18px;
}
.dzen-box__wrapper {
  margin-right: 10px;
  margin-bottom: 8px;
}
.dzen-box__wrapper:hover .dzen-box__inner-box {
  transform: translateX(-15px);
}
.dzen-box__inner-box {
  box-sizing: border-box;
  position: relative;
  width: 180px;
  padding: 12px 14px;
  border-radius: 3px;
  transition: transform 0.2s ease-in;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}
.dzen-box__dzen-source-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  background: no-repeat 50% 50% url(../../../assets/images/dzen-source-icon.svg);
  background-size: 18px 18px;
  width: 24px;
  height: 24px;
}
.dzen-box__source {
  margin-right: 22px;
  text-decoration: none;
  color: black;
  font-size: 11px;
  font-weight: 700;
  line-height: 14px;
  white-space: nowrap;
  letter-spacing: 1px;
  text-overflow: ellipsis;
  opacity: 0.45;
}
.dzen-box__text {
  margin-top: 8px;
  max-height: 4.8em;
  line-height: 1.2em;
}
.dzen-box__dzen-settings-icon {
  position: absolute;
  display: none;
  top: 140px;
  right: 2px;
  width: 24px;
  height: 24px;
  fill: #999;
  transition: display 0.3s ease 1s, color 0.2s ease 1s;
}
.dzen-box__dzen-settings-icon:hover {
  fill: black;
}
.dzen-box__wrapper:hover .dzen-box__dzen-settings-icon {
  display: block;
}
.top-block {
  position: relative;
  box-sizing: content-box;
  display: flex;
  width: 900px;
  margin: 0 auto 15px;
  padding: 0 36px 0 0;
  min-height: 215px;
}
.top-block__news {
  flex: 0 0 66.6%;
  display: block;
  padding-right: 6px;
}
.top-block__news-list {
  margin-left: 0;
  padding-left: 0;
}
.top-block__media {
  display: inline-block;
  margin-right: 12px;
  white-space: nowrap;
  color: #0054b9;
  touch-action: manipulation;
  text-decoration: none;
  outline: none;
  font-size: 123%;
  font-weight: 600;
}
.top-block__city {
  display: inline-block;
  margin-right: 12px;
  white-space: nowrap;
  cursor: pointer;
  color: #6da2e1;
  touch-action: manipulation;
  text-decoration: none;
  outline: none;
  font-size: 123%;
  font-weight: 500;
}
.top-block__date {
  display: inline-block;
  font-size: 84.6%;
  font-weight: 500;
  white-space: nowrap;
  color: #999;
}
.top-block__news-item {
  margin-bottom: 10px;
  list-style-type: none;
}
.top-block__news-item::before {
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer;
  margin: 0px 7px 0 -21px;
  content: "";
  background: url(../../../assets/images/news-item-icon.svg) no-repeat 50% 50%;
}
.top-block__securities {
  position: relative;
}
.top-block__currency-1 {
  display: inline-block;
}
.top-block__currency-2 {
  display: inline-block;
}
.top-block__security {
  display: inline-block;
}
.top-block__name {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.15s ease-out;
  touch-action: manipulation;
  text-decoration: none;
  outline: none;
}
.top-block__difference {
  padding: 3px 0;
  text-align: right;
  margin-right: 18px;
}
.top-block_negative {
  color: #d04d4d;
}
.top-block_positive {
  color: #069922;
}
.top-block__more-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: -10px;
  vertical-align: bottom;
  opacity: 0.17;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
}
.top-block__more-icon:hover {
  opacity: 0.34;
}
.top-block__advert {
  flex: 0 1 33.3%;
  display: block;
  box-sizing: border-box;
  padding-right: 6px;
}
.top-block__title {
  margin-top: 13px;
  margin-bottom: 0;
  text-decoration: none;
  color: black;
  font-size: 123%;
  font-weight: 500;
}
.top-block__description {
  margin-top: 5px;
}
.search {
  box-sizing: content-box;
  width: 900px;
  height: 110px;
  margin: 0 auto;
  padding: 0 36px 0 0;
}
.search__tabs-list {
  display: flex;
  margin-bottom: 10px;
  margin-top: 9px;
  font-size: 1.16em;
}
.search__tab {
  margin-right: 20px;
  text-decoration: none;
  color: #0054b9;
}
.search__container {
  position: relative;
  display: flex;
  width: 100%;
}
.search__logo {
  position: absolute;
  margin-top: -35px;
  margin-left: -140px;
  background-image: url(../../../assets/images/logo.svg);
  width: 140px;
  height: 100px;
  cursor: pointer;
}
.search__form {
  display: flex;
  align-items: center;
  border-collapse: collapse;
  height: 34px;
  border: 2px solid #ffdb4d;
  border-right-width: 0;
}
.search__input-form {
  width: 680px;
  height: 34px;
  border: 0 solid transparent;
  box-sizing: border-box;
  border-right-width: 30px;
  border-left-width: 13px;
}
.search__micro-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding-right: 4px;
  opacity: 0.17;
  transition: opacity 0.2ms ease-in;
}
.search__micro-icon:hover {
  opacity: 0.34;
}
.search__keyboard-icon {
  display: inline-block;
  width: 27px;
  height: 12px;
  padding-left: 2px;
  padding-right: 11px;
  opacity: 0.17;
  transition: opacity 0.2ms ease-in;
}
.search__keyboard-icon:hover {
  opacity: 0.34;
}
.search__button {
  width: 88px;
  display: flex;
  cursor: pointer;
}
.search__text-search {
  width: 76px;
  height: 34px;
  background-color: #ffdb4d;
  border: 2px solid #ffdb4d;
  line-height: 34px;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
}
.search__triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 12px;
  border-color: transparent transparent transparent #ffdb4d;
}
.search__bottom {
  display: flex;
  align-items: baseline;
  margin-top: 8px;
}
.search__suggest-right {
  color: #999;
}
.advert {
  box-sizing: content-box;
  width: 900px;
  margin: 0 auto 10px ;
  padding: 0 36px 0 0;
}
.advert__container {
  width: 750px;
  height: 93px;
  background-image: url(../../../assets/images/advert-image.gif);
  background-size: 100%;
  cursor: pointer;
}
.link {
  transition: color 0.15s ease-out;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.link._l {
  font-weight: 600;
}
.link._xl {
  font-weight: 700;
}
.link._light-blue {
  color: #6da2e1;
}
.link._blue {
  color: #0054b9;
}
.link._grey {
  color: #999;
}
.link._red-hover:hover {
  color: #cc0000;
  fill: #cc0000;
}
.blocks {
  box-sizing: content-box;
  width: 900px;
  margin: 0 auto 19px;
  padding: 0 36px 0 0;
  display: flex;
  justify-content: space-between;
}
.blocks__column {
  flex: 0 1 auto;
  box-sizing: border-box;
  width: 300px;
  max-width: 300px;
  padding-right: 6px;
}
.blocks__item {
  position: relative;
  padding: 8px 4px 4px 20px;
  margin-top: 6px;
}
.blocks__weather-widget {
  padding-bottom: 10px;
}
.blocks__title {
  display: inline-block;
  margin-right: 8px;
  margin-top: 4px;
  margin-bottom: 10px;
  font-size: 123%;
  font-weight: 600;
}
.blocks__weather-content {
  display: flex;
  align-items: center;
}
.blocks__weather-left {
  margin-right: 12px;
  display: flex;
  align-items: center;
}
.blocks__weather-icon {
  width: 48px;
  height: 48px;
  margin: -24px 8px -24px -4px;
  background-image: url(../../../assets/images/weather-icon.svg);
  background-size: 100% 100%;
}
.blocks__weather-temp {
  font-size: 28px;
}
.blocks__weather-right {
  text-decoration: none;
  color: black;
}
.blocks__weather-widget-settings-icon {
  position: absolute;
  top: 8px;
  right: 0;
  width: 25px;
  height: 25px;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.blocks__weather-widget-settings-icon:hover {
  opacity: 0.3;
}
.blocks__services-widget {
  padding-bottom: 10px;
}
.blocks__services-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.blocks__services-item {
  margin-bottom: 10px;
}
.blocks__services-widget-settings-icon {
  position: absolute;
  top: 8px;
  right: 0;
  width: 25px;
  height: 25px;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.blocks__services-widget-settings-icon:hover {
  opacity: 0.3;
}
.blocks__traffic-widget {
  padding-bottom: 10px;
}
.blocks__traffic-content {
  display: flex;
  align-items: center;
}
.blocks__traffic-left {
  display: flex;
  align-items: center;
  padding-right: 16px;
}
.blocks__traffic-icon {
  width: 33px;
  height: 30px;
  margin-right: 8px;
  background-image: url("../../../assets/images/traffic-icon.svg");
  cursor: pointer;
}
.blocks__traffic-rate {
  font-size: 28px;
}
.blocks__traffic-right {
  display: flex;
  align-items: center;
}
.blocks__traffic-forecast-item {
  display: inline-block;
  position: relative;
  vertical-align: top;
  text-align: center;
  margin-top: -3px;
  padding: 0 3px;
}
.blocks__traffic-forecast-item-time {
  font-size: 70%;
  color: #999;
}
.blocks__traffic-forecast-item-value {
  border: 2px solid #66ab3c;
  border-radius: 50%;
  height: 17px;
  width: 17px;
  text-align: center;
  font: 12px/18px Arial, Helvetica, sans-serif;
}
.blocks__tv-widget-settings-icon {
  position: absolute;
  top: 8px;
  right: 0;
  width: 25px;
  height: 25px;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.blocks__tv-widget-settings-icon:hover {
  opacity: 0.3;
}
.blocks__services-item-elem {
  margin-right: 8px;
}
.blocks__billboard-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.blocks__billboard-item {
  margin-bottom: 10px;
}
.blocks__billboard-item-elem {
  margin-right: 8px;
}
/*# sourceMappingURL=main.css.map */